.modalContainer-all {
  isolation: isolate;
}

.modalContainer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer-container {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
}

.modalContainer-titleContainer {
  display: flex;
  justify-content: space-between;
}