.modalContainer-all {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  isolation: isolate;
}

.modalContainer-bg {
  position: fixed;
  inset: 0;
}

.modalContainer-container {
  z-index: 1;
  background-color: white;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
}

.modalContainer-titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalContainer-titleContainer > p {
  font-weight: 600;
}